<div class="container col-md-10">
    <div class="row">
        <div class="col-md-5">
            <img src="{{spindle.image}}" width="300" height="300">
        </div>
        <div class="col-md-7">
            <h1>Toy Detail</h1>
            <h3>Name: {{ spindle.brand }}</h3>
            <h3>Price: {{ spindle.price }}VND</h3>
            <h3>Description: {{ spindle.description }}</h3>
        </div>
    </div>
</div>